[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
black = "==20.8b1"
flake8 = "*"

[packages]
flask = "*"
oauthlib = "*"
requests = "*"
pymysql = "*"
flask-sqlalchemy = "*"
cryptography = "*"
flask-session = "*"
redis = "*"
flask-cors = "*"

[requires]
python_version = "3.9"
